/* Scss Document */
@import url(../font-awesome/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);




$main_font: 'Raleway', sans-serif;
$sec_font:'Open Sans', sans-serif;
$fa: 'FontAwesome';
$body_copy:15px;

@font-face {
    font-family: digital-display;
	src:url(../fonts/digital_display_tfb.ttf);
}
$digital:'digital-display';

html,body,p{
	font-size:$body_copy;
	font-family:$main_font;
	font-weight:400;	
}


$color1: #ffffff;
/*ornage*/
$color2: #f7901e;
$color3: #1a1e28;

$bg1: #fff;
$bg2: #f7901e;
$bg3: #1a1e28;



$header_height:93px;
$nav_width:370px;

body,p{
	color:$color1;	
}

@mixin btn($text_color,$width,$border_radius:0){
	min-width:$width;
	border-radius:$border_radius;
	color:$text_color;
	background-color:$bg3;
	text-transform:uppercase;
	border-radius:0;
	font-weight:400;
	font-size:16px;
	padding:9px 0 6px;
	letter-spacing:1px;
	outline:none;
	
	&:hover,&:focus{
		color:$text_color;
		outline:none;
	}
	.fa{
		font-size:18px;	
	}
}
@mixin overlay($a,$r:26,$g:30,$b:40){
	/*background-color:rgb($r,$g,$b);*/
	background-color:rgba($r,$g,$b,$a);
    background-color: transparent\9;	
}
@mixin get_zindex($times){
	z-index:100*$times;	
	
}
@mixin streach($x,$y){
	transform:scale($x,$y);
	-webkit-transform:scale($x,$y); /* Safari and Chrome */
	-moz-transform:scale($x,$y); /* Firefox */
	-ms-transform:scale($x,$y); /* IE 9 */
	-o-transform:scale($x,$y); /* Opera */
}
.box-shadow{
	-moz-box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70)";
	zoom: 1;
}

@mixin text_shadow($a,$r:26,$g:30,$b:40){
	text-shadow:1px 1px 5px rgba($r,$g,$b,$a);	
}
/*
	vw = ratio 0.05272727
*/
$vw_ratio: 0.05272727;
@mixin get_responsive_font($font_size,$line_height){
	font-size: unquote(($vw_ratio * $font_size) + 'vw');
	line-height: unquote(($vw_ratio * $line_height) + 'vw');
}

div{
	box-sizing:border-box;	
}
h1,h2,h3,h4,h5,h6{
	font-family:$main_font;
	text-transform:uppercase;	
	color:$color3;
}

/* used in banner caption */


h1{
	@include get_responsive_font(55,55);
	font-weight:700;
	/*font-size:55px;
	  line-height:55px;
	*/
}
/* secondary page heading */
h2{
	@include get_responsive_font(35,42);
	font-weight:600;
	/*font-size:35px;
	line-height:42px;*/
	color:$color2;
	border-top:1px solid $color2;
	border-bottom:1px solid $color2;
	margin-top:0;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;	
}
/* banner sub heading in captions */
h3{
	font-weight:300;	
	font-size:22px;
	line-height:24px;
}
/* still free*/
h4{
	@include get_responsive_font(16,22);
	color:$color3;
	/*font-size:16px;
	line-height:22px;*/	
}
/* secondary pages - page name such as about etc*/
h5{
	font-size:10px;
	font-weight:700;
	color:$color2;
	letter-spacing:30px;
	margin-top:0;
	margin-bottom:0;
}
/* Footer header - quick links etc*/
h6{
	color:$color1;
	font-size:12px;
	font-weight:400;	
}
a{
	color:$color1;
	font-family:$main_font;
	&:hover{
		color:$color1;	
	}
}


/* rule */
hr{
	border-top: 1px solid #31353e;	
}
/*buttons*/
.btn-app{
	@include btn($color1,162px);	
}
.btn-sml{
	width:85px !important;
}
.btn-angle{
	min-width:43px !important;
	min-height: 43px !important;	
}
.btn-white{
	@include btn($color3,200px);	
	background-color:$bg1;	
}
.btn-slide{
	min-width:100px;
	border-radius:2px;	
}

#header{
	@include overlay(0.9);	
	@include get_zindex(200);
	height:$header_height;
	line-height:$header_height;
	padding:0 25px;
	position:relative;
}
img.logo{
	margin-left:-32px;
}

.menu-active-overlay{
	@include overlay(0.9);	
}

.address{
	color:$color3;
	text-transform:uppercase;
	margin-bottom:45px;
	
	h6{
		color:$color3;
		text-align:left;
		font-weight:800;	
	}
	
	p{
		font-size:12px !important;	
		margin-left:0 !important;
		margin-right:auto !important;
		text-align:left !important;
		text-align-last:left !important;
		-moz-text-align-last: left !important; /* Code for Firefox */
	}
	.fa-ul{
		text-transform:none;
		font-size:12px;
		margin-left:0px;
		padding-top:10px;
		
		li{
			text-align:left;
			margin-left:40px;
			font-weight: 500;
			
			.fa{
				left:-40px;	
				text-align:left;
			}
		}
	}
} /* address*/


.nav-toggle{
	color:$color1;
	text-transform:uppercase;
	font-family:$main_font;
	font-size:16px;
	display: inline-block;
	line-height: $header_height;	
	font-weight:400px;
	letter-spacing:2px;
	position: absolute;
	left: 25px;
	
	span{
		width: 37px;
		float: left;
		text-align:center;
		height: $header_height;	
		overflow: hidden;
	}
	
	.fa{
		@include streach(1.3,1);
		font-size:22px;
		position:relative;
		bottom:-2px;
		letter-spacing:8px;
	}
	
	a{
		outline:none;
		
		&:active,&:focus,&:hover{
			color:$color1;	
			text-decoration:none;
		}
	}
} /* end nav-head*/

.nav-modal{
	top:$header_height;
	
	.modal-dialog{
		width:$nav_width;
		margin:0;	
	}
	
	.modal-content{
		border:none;	
	}
	
	.modal-body{
		padding:0;
	}
} /*nav-modal*/

#nav{
	@include get_zindex(2);
	width: $nav_width;
	position: absolute;
	position:absolute;
	
	
	.nav-body{
		@include overlay(1);
		padding-left:25px;
		padding-right:25px;
		letter-spacing:2px;
		float:left;
		
		.nav-ul{
			list-style:none;	
			margin:0;
			padding:34px 0 12px 0;
			
			li{
				line-height:50px;
				
				a{
					text-transform:uppercase;
					font-family:$main_font;
					font-weight: 600;
					font-size: 16px;
					letter-spacing: 2px;
					
					&:before,
					&.active:before{
						font-family:$fa;
						display:inline-block;
						width:38px;
						font-size:14px;		
					}
					&::before{
						content:"\f096";
						
					}
					&.active{
							color:$color2;
							&:before{
							content:"\f105";
						}
					}
					&:hover{
						color:$color2;
						text-decoration:none;	
					}
				} /* end a */
				
			} /* end li */
		} /* end ul*/
		
		hr{
			margin-left:-25px;	
			margin-right:-25px;
			margin-top: 22px;
			margin-bottom: 22px;
		}
		
		.address{
			color:$color1;
			opacity:0.36;
			
			h6{
				color:$color1;	
				font-weight:400;
			}
			
			.fa-ul{
				li{
					font-weight:400;	
				}
			}
		}
		
		.last{
			margin-bottom:0;	
		}
		.subscribe{
			margin:31px 0;
			
			h6{
				margin-bottom:12px;
			}	
		}
				
	} /* end nav-body*/
}

#content{
	margin-top:-$header_height;	
	position:relative;
}

/* forms */
.form-alt{
	.form-control{
		border-radius:0;	
		height:45px;
		font-size:12px;
	}
	.input-group-addon{
		border-radius:0;
		background-color:transparent;
		color:#fff;	
		padding:0 15px;
		
		.fa{
			font-size:20px;	
		}
	}
}	/* form-alt*/

$input_bg:#f3f4f4;
.app-form{
	
	.form-control{
		border-radius:0;
	}
}

.carousel{
	overflow:hidden;
	
	h5{
		text-shadow:none;	
		position:absolute;
		left:0;
		right:0;
		width:100%;
		text-align:center;
		top:$header_height + 30px;
	}
	.carousel-indicators{
		bottom:70px;
		
		.active{
			background-color:$bg2;
			border-color:$bg2;	
		}
		
		li{
			border-radius:3px;
			background-color: transparent;
			border-color:$bg1;
			border-width:2px;
			width:14px;
			height:14px;
				
		}
	}
	.carousel-caption{
		right:25%;
		left:25%;
		padding-bottom:0;
		bottom:10%;
		
		h1,h4{
			text-shadow:none;	
		}
		
		h1{
			@include overlay(0.4,255,255,255);
			padding:12px 0 10px;	
			
			&::after{
				content:" ";
				border-bottom: 1px solid rgba(255, 255, 255, 0.25);
				margin-top: 28px;
				width: 100%;
				float: left;
			}
		}
		h4{
			@include overlay(0.35,184,176,179);
			padding:26px 0 23px;
			margin-top:36px;	
		}
		
		.btn-app{
			margin-top:15px;	
		}
	} /*carousel-caption*/
	
	.slide-btn{
			@include overlay(0.8,255,255,255);
			height: 71px;
			display: block;
			width: 71px;
			position: absolute;
			font-size: 20px;
			line-height: 71px;
			top: 45%;
			border:1px solid rgba(255,255,255,0.75);
			cursor:pointer;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;
			
			.fa{
				font-size:32px;
				color:$color3;
				text-shadow:none;	
			}
				 
	}
	
	&:hover{
		a.left .slide-btn{
			left:0;	
		}
		a.right .slide-btn{
			right:0;	 
		}
	}
	a.left .slide-btn{
		left:-71px;	
	}
	a.right .slide-btn{
		right:-71px;	 
	}
	.left,.right{
		background-image:none;
		background-color:transparent;
	}
	
	/* Case studies */
	span.title{
		@include overlay(0.4,255,255,255);
		font-family:$main_font;
		font-size:10px;
		color:$color3;
		letter-spacing:10px;
		font-weight:900;	
		text-transform:uppercase;
		position: absolute;
		display: inline-block;
		top:$header_height;
		left: -30px;
		right: 0;
		max-width: 300px;
		margin: auto;
		text-align: center;
		padding: 13px 0;
	}
	.description{
		@include overlay(0.4,255,255,255);
		position:absolute;
		max-width:846px;
		margin:auto;
		bottom:0;
		left:0;
		right:0;
		text-align:center;
		display:none;
		
		h1{
			font-size:35px;
			font-weight:800;	
			border-top: 1px solid rgba(255, 255, 255, 0.25);
			border-bottom: 1px solid rgba(255, 255, 255, 0.25);
			margin-top:40px;
		}
		
		p{
			padding:20px 34px;
			font-size:14px;
			line-height:24px;
			font-family:$sec_font;
			color:$color3;	
			text-align:justify;
			margin-bottom:45px;
		}
		
		.btn-angle{
			margin-top:0;	
		}
		
		.btn-slide{
			margin-left:5px;	
			margin-bottom:25px;
		}
	} /* description*/
	
	.btn-white{
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 200px;
		bottom: 0px;
		height: 70px;	
		font-weight:500;
	}
	
} /*carousel*/


/*banner*/
#banners{
	.carousel-inner>.item>img{
		width:100%;
	}
}

/*secondary*/
.secondary{
	
	.banner{
		.carousel-caption{
			/*left:25%;
			right:25%;	*/
		}
		img{
			width:100%;	
		}
		
	} /*end banner*/
	
	.city-time-box{
		width:10.4%;
		text-align:center;
		color:$color3;	
		text-transform:uppercase;
		
		.city-time{
			font-family:$digital;
			
			.hr,.minute{
				font-size:65px;
			}
			
			
			&::after{
				content:"dot design";
				font-family:$main_font;
				font-size:12px;
				font-weight:900;
				letter-spacing:4px;
				display:block;
				margin-top:-16px;
			}
		}
		
		.city{
			font-size:12px;
			font-weight:300;
			letter-spacing:4px;
			display:block;
			margin-top:-2px;
		}
	
	}
	
	
	#time-stlouis{
		position: absolute;
		top: 24%;
		left: 15.6%;	
	}
	#time-sydney{
		position: absolute;
		top: 64.7%;
		right: 5.1%;
	}
	#time-china{
		position: absolute;
		top: 27.1%;
		right: 28.5%;
	}
	
	.sec-content{
		text-align:center;	
		padding-top:30px;
		padding-bottom:38px;
		
		/*h2,h5,p{
			margin-left:165px;
			margin-right:165px;	
		}*/
		h2{
			margin-top:10px;
			margin-bottom:25px;
		}
		h6{
			color:$color3;
			font-weight:800;	
		}
		p{
			color:$color3;	
			font-family:$sec_font;
			font-size:14px;
			line-height:18px;
			text-align:justify;
			line-height:24px;
			
			text-align-last:center;
			-moz-text-align-last: center; /* Code for Firefox */
			
			/*&:after{
				content:" ";
				display:inline-block;
				width:100%;
				visibility:hidden;	
			}*/
		}
		

	}
	
	.carousel-caption{
		top:auto;
		bottom:5%;
		left:20%;
		right:20%;	
		
		h1,h4{
			max-width: 700px;
			margin-left: auto;	
			margin-right:auto;
		}

	}
		
} /*end secondary*/
$caption_height:82px;
.work-colage{
	width:100%;
	float:left;
	padding-bottom:70px;
	overflow:hidden;
	
	
	[class*=col]{
		padding:0;	
		text-align:center;
		cursor:pointer;
		overflow:hidden;
		
		img{
			width:100%;	
		}
		&::after{
			@include overlay(0.25);
			@include get_zindex(1);
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;	
			left:0;
			transition-duration:0.5s;
		}
		.caption{
			@include overlay(0.9);
			width:100%;
			float:left;
			height:$caption_height;
			bottom:0;
			position:absolute;
			transition-property: all;
			transition-duration: 0.6s;
			transition-timing-function: cubic-bezier(0, 1, 0.6, 1);
			max-height:0;
			
			
			span{
				display:block;	
				text-transform: uppercase;
			}
			
			.name{
				font-size: 18px;
				line-height:18px;
				font-weight: 800;
				letter-spacing: 10px;	
			}
			.info{
				font-size:12px;
				line-height:14px;
				font-weight:300;	
				letter-spacing:1.2px;
			}
		}
		span{
			/*@include text_shadow(0.8);
			opacity:0;
			color:$color3;	
			position: absolute;
			font-size: 20px;
			z-index: 200;
			top: 50%;
			left: 18px;
			right: 0;
			text-transform: uppercase;
			color: #fff;
			font-weight: 800;
			letter-spacing: 18px;
			margin-right:18px;*/
			
		}
	} /* [class*=col] */
	[class*=col]:hover{
		&::after{
			@include overlay(0);
		}
		.caption{
			max-height:$caption_height;
			padding-top:25px;
		}
	}
	
}

.sec-address{
	flex-direction:row; 
	display:flex;
	margin-top:20px;	
	
	.address{
		flex:1;	
	
		&:last-child{
			float:right;
			flex:inherit;	
		}
	}
}
.sec-inner{
	max-width:815px;
	margin:auto;	
}

/* footers*/
#footer{
	$footer_top_padding:65px;
	
	background:$bg3;
	min-height:350px;
	text-align:center;
	padding-top:$footer_top_padding;
	padding-bottom:60px;	
	letter-spacing:1.1px;
	width:100%;
	float:left;
	position:relative;
	
	#goto-top{
		/*@include overlay(0.75,255,255,255);*/
		@include get_zindex(5);
		position:absolute;
		left:0;
		right:0;
		top:0;
		width:40px;
		height:40px;
		color:$color1;
		line-height:40px;
		text-align:center;
		/*margin:-$footer_top_padding auto 0;	*/
		margin:0 auto;
		cursor:pointer;
		font-size:16px;
		/*display:none;*/
		
		
		&:hover{
			/*@include overlay(0.75,247,144,30);*/
			color:$color1;
		}
	}
	
	h6{
		margin:0;
		padding:0;	
	}
	
	ul.social-links,
	ul.quick-links{
		text-transform:uppercase;
		list-style:none;
		display:inline-block;
		padding:0;	
		margin:0;
	}
	
	ul.social-links{
		margin-top:20px;
		margin-bottom:0;
		
		li{
			float:left;
			height:43px;
			width:43px;
			line-height:43px;
			text-align:center;
			border:1px solid rgba(255,255,255,0.5);
			border-radius:50%;
			margin-right:83px;
			
			&:last-child{
				margin-right:0;	
			}
			
			.fa{
				font-size:18px;	
				display:block;
				line-height:43px;
				margin-left:3px;
			}
			
			a{
				line-height:43px;	
			}
		}
	} /* social-links*/
	
	ul.quick-links{
		
		li{
			float:left;
			margin-right:42px;
			
			&:last-child{
				margin-right:0;	
			}
			
			a{
				font-size:12px;
				font-weight:400;	
			}
		}
	}
	
	hr{
		width:620px;	
		margin-top:28px;
		margin-bottom:30px;
	}
	
	.disclaimer{
		font-size:12px;
		opacity:0.36;
		text-transform:uppercase;
		text-align:center;
		width:100%;	
		margin-top:26px;
	}
	
} /* #footer*/

/*
	Responsive 
*/
@mixin resize_font($full_size){
	font-size:$full_size * 0.7;	
}
@mixin resize_box($full_width){
	width:$full_width * 0.80;	
}

@media (max-width: 992px) {
	.content-offset-top{
		margin-top:0 !important;	
	}
}
@media (max-width: 768px) {
	#footer{
		hr{
			width:100%;	
		}
	}
}



/*helpers*/
.clear{
	clear:both;	
}
.pull{
	float:right !important;	
}
.push{
	float:left !important;	
}
.pull-text{
	text-align:right;	
}
.center{
	text-align:center;	
}
.remove-rt-gutter{
	padding-right:0 !important;
}
.remove-gutters{
	padding-left:0 !important;
	padding-right:0 !important;	
}