/* CSS Document */


$main_font: 'Raleway', sans-serif;
$sec_font:'Open Sans', sans-serif;
$fa: 'FontAwesome';
$body_copy:15px;

$color1: #ffffff;
/*ornage*/
$color2: #f7901e;
$color3: #1a1e28;

$bg1: #fff;
$bg2: #f7901e;
$bg3: #1a1e28;

h1,h2,h3,h4,h5,h6{
	font-family:$main_font;
	text-transform:uppercase;	
	color:$color3;
}

/*
	vw = ratio 0.05272727
*/
$vw_ratio: 0.05272727;
@mixin get_responsive_font($font_size,$line_height){
	font-size: unquote(($vw_ratio * $font_size) + 'vw');
	line-height: unquote(($vw_ratio * $line_height) + 'vw');
}



$header_height:105px;
$nav_width:370px;

body{
	background-color:$bg3;	
}


#content{
	padding-top:0 !important;
	background-color:$bg1;	
}


h1{
	@include get_responsive_font(55,55);
	font-weight:700;
	/*font-size:55px;
	  line-height:55px;
	*/
}
/* still free*/
h4{
	@include get_responsive_font(16,22);
	color:$color3;
	/*font-size:16px;
	line-height:22px;*/	
}
h5{
	font-size: 10px;
	font-weight: 700;
	color: $color2 !important;
	letter-spacing: 30px;
	margin-top: 0;
	margin-bottom: 0;	
}

/* 
	Theme CSS
*/
#header-top{
	padding-top:0 !important;	
}
.content-offset-top{
	margin-top:$header_height !important;	
}
.nav-toggle{
	.fa,a{
		color:$color1;
	}
}
.nav-modal{
	top:$header_height;
	
	.modal-dialog{
		padding:0;
		margin:0;	
	}
	
	.modal-body{
		padding:0;
	}

}

#nav{
	.nav-body{
		.nav-ul{
			li{
				a{
					color:$color1;	
				}
			}
		}
	}
}

/* footers*/
#footer{
	
	
	ul.social-links{
	
		li{
			.fa{
				color:$color1;
			}
			
			a{
				color:$color1;		
			}
		}
	} /* social-links*/
	
	ul.quick-links{
		
		li{
			a{
				color:$color1;	
			}
		}
	}
	
	
	
} /* #footer*/

/* Theme Customization */

.theme-h1{
	@include get_responsive_font(35,42);
	font-weight:600;
	color:$color2;
	border-top:1px solid $color2;
	border-bottom:1px solid $color2;
	margin-top:0;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;			
}

#main{
	h1{
		@extend .theme-h1;
	}
	P{
		color:$color3;	
		font-family:$sec_font;
		font-size:14px;
		line-height:24px;
	}
}

#primary,
#secondary{
	border:none;	
	margin-left:25px;
	margin-right:25px;
	padding:0;
	margin-top:30px;
}
.single article.post, .page article.post{
	border-bottom:none;	
}
article{
	
	
	.entry-header{
		h5{
			margin-bottom:10px;	
		}
	}
}
.post-navigation{
	a{
		color:$color2;
		
		&:hover{
			color:$color2;	
		}
	}
}

.featured-image-single{
	margin-top:0;
	margin-bottom:0;
	
	img{
		border-radius:0 !important;
		box-shadow:none;
		width:100%;	
		max-width:100%;
	}
	
}

#secondary {
	
	.widget{
		border:none;	
		padding:0;
		
		ul{
			margin-top:24px;
			
			li{
				line-height:24px;
				
				a{
					font-family:$main_font;
					font-size:12px;
					color:$color3;
					text-transform:uppercase;
					font-weight: 600;
					letter-spacing: 1.2px;
				
				}
				
				&::before{
					content:"\f096";	
					color:$color3;
				}
			}
		}
	}
	
	h1.widget-title{
		@extend .theme-h1;	
	}
}

.archive-wrap{
	.page-header{
		margin-top:15px;	
	}
	
	article{
		
		&::after{
			content:" ";
			border-bottom:1px solid $color2;
			width:100%;
			float:left;
			margin-left:15px;
		}
		
		&:last-of-type{
			&::after{
				border-bottom:1px solid $color1;
			}
		}
	}
}
.archive-header{
	h1{
		border-top:0 !important;
		border-bottom:0 !important;
		
		a{
			color:$color2 !important;	
		}
	}
}

@media(min-width: 1200px) and (max-width: 1400px){

}

@media (min-width: 992px) and (max-width: 1199px) {
	
	
	
}

@media (max-width: 992px) {
	.theme-h1, 
	#main h1, 
	#secondary h1.widget-title{
		font-size:20px;
		line-height:26px;	
	}
	h4{
		font-size:14px;
		line-height:20px;	

	}
	
	.content-offset-top{
		/*margin-top:0 !important;	*/
	}
	
	
}

/* nav mob width*/
$mob_nav_width:320px;
$mob_header_height:75px;
@media (max-width: 768px) {
	#header{
		height:$mob_header_height;
		line-height:$mob_header_height;	
	}
	
	.nav-toggle{
		line-height:$mob_header_height;	
	}
	
	.nav-modal{
		top:$mob_header_height;
	}
	
	#nav{
		width:$mob_nav_width;	
	}
	
	.nav-modal{	
		 .modal-dialog{
		 	width:$mob_nav_width; 
		 }
	}
	article{
		.entry-header{
			h5{
				letter-spacing: 20px;
				line-height: 18px;	
			}
		}
	}
	#primary, #secondary{
		margin-top:0;	
	}
	.carousel{
		img{
			min-width:100% !important;
			margin-left:0 !important;
			margin-top:$header_height;	
		}
		.carousel-caption{
			display:none;	
		}
	}
}


@media (max-width:448px){
	h1{
		font-size:15px;
		line-height:18px;	
	}
	
} /*max-width : 448px*/