/* Scss Document */
@import url(../font-awesome/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/*ornage*/
@font-face {
  font-family: digital-display;
  src: url(../fonts/digital_display_tfb.ttf); }
body {
  background-color: #1a1e28; }

html, body, p {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

body, p {
  color: white; }

.box-shadow {
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.70)";
  zoom: 1; }

/*
	vw = ratio 0.05272727
*/
div {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #1a1e28; }

/* used in banner caption */
h1 {
  font-size: 2.9vw;
  line-height: 2.9vw;
  font-weight: 700;
  /*font-size:55px;
    line-height:55px;
  */ }

/* secondary page heading */
h2 {
  font-size: 1.84545vw;
  line-height: 2.21455vw;
  font-weight: 600;
  /*font-size:35px;
  line-height:42px;*/
  color: #f7901e;
  border-top: 1px solid #f7901e;
  border-bottom: 1px solid #f7901e;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px; }

/* banner sub heading in captions */
h3 {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px; }

/* still free*/
h4 {
  /*@include get_responsive_font(16,22);*/
  color: #1a1e28;
  font-size: 16px;
  line-height: 22px; }

/* secondary pages - page name such as about etc*/
h5 {
  font-size: 10px;
  font-weight: 700;
  color: #f7901e;
  letter-spacing: 30px;
  margin-top: 0;
  margin-bottom: 0; }

/* Footer header - quick links etc*/
h6 {
  color: white;
  font-size: 12px;
  font-weight: 400; }

a {
  color: white;
  font-family: "Raleway", sans-serif; }
  a:hover {
    color: white; }

/* rule */
hr {
  border-top: 1px solid #31353e; }

/*buttons*/
.btn-app {
  min-width: 162px;
  border-radius: 0;
  color: white;
  background-color: #1a1e28;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  padding: 9px 0 6px;
  letter-spacing: 1px;
  outline: none; }
  .btn-app:hover, .btn-app:focus {
    color: white;
    outline: none; }
  .btn-app .fa {
    font-size: 18px; }

.btn-sml {
  width: 85px !important; }

.btn-angle {
  min-width: 43px !important;
  min-height: 43px !important; }

.btn-white {
  min-width: 200px;
  border-radius: 0;
  color: #1a1e28;
  background-color: #1a1e28;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  padding: 9px 0 6px;
  letter-spacing: 1px;
  outline: none;
  background-color: white; }
  .btn-white:hover, .btn-white:focus {
    color: #1a1e28;
    outline: none; }
  .btn-white .fa {
    font-size: 18px; }

.btn-slide {
  min-width: 100px;
  border-radius: 2px; }

#header {
  /*background-color:rgb($r,$g,$b);*/
  background-color: rgba(26, 30, 40, 0.9);
  background-color: transparent\9;
  z-index: 20000;
  height: 105px;
  line-height: 105px;
  padding: 0 25px;
  position: relative; }

img.logo {
  margin-left: -32px; }

.menu-active-overlay {
  /*background-color:rgb($r,$g,$b);*/
  background-color: rgba(26, 30, 40, 0.9);
  background-color: transparent\9; }

.address {
  color: #1a1e28;
  text-transform: uppercase;
  margin-bottom: 45px; }
  .address h6 {
    color: #1a1e28;
    text-align: left;
    font-weight: 800; }
  .address p {
    font-size: 12px !important;
    margin-left: 0 !important;
    margin-right: auto !important;
    text-align: left !important;
    text-align-last: left !important;
    -moz-text-align-last: left !important;
    /* Code for Firefox */ }
  .address .fa-ul {
    text-transform: none;
    font-size: 12px;
    margin-left: 0px;
    padding-top: 10px; }
    .address .fa-ul li {
      text-align: left;
      margin-left: 40px;
      font-weight: 500; }
      .address .fa-ul li .fa {
        left: -40px;
        text-align: left; }
      .address .fa-ul li a {
        color: #1a1e28; }

/* address*/
.nav-toggle {
  color: white;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  display: inline-block;
  line-height: 105px;
  font-weight: 400px;
  letter-spacing: 2px;
  position: absolute;
  left: 25px; }
  .nav-toggle span {
    width: 37px;
    float: left;
    text-align: center;
    height: 105px;
    overflow: hidden; }
  .nav-toggle .nav-text {
    width: auto; }
  .nav-toggle .fa {
    transform: scale(1.3, 1);
    -webkit-transform: scale(1.3, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.3, 1);
    /* Firefox */
    -ms-transform: scale(1.3, 1);
    /* IE 9 */
    -o-transform: scale(1.3, 1);
    /* Opera */
    font-size: 22px;
    position: relative;
    bottom: -2px;
    letter-spacing: 8px; }
  .nav-toggle a {
    outline: none; }
    .nav-toggle a:active, .nav-toggle a:focus, .nav-toggle a:hover {
      color: white;
      text-decoration: none; }

/* end nav-head*/
.nav-modal {
  top: 105px; }
  .nav-modal .modal-dialog {
    width: 370px;
    margin: 0; }
  .nav-modal .modal-content {
    border: none; }
  .nav-modal .modal-body {
    padding: 0; }

/*nav-modal*/
#nav {
  z-index: 200;
  width: 370px;
  position: absolute;
  position: absolute;
  /* end nav-body*/ }
  #nav .nav-body {
    /*background-color:rgb($r,$g,$b);*/
    background-color: #1a1e28;
    background-color: transparent\9;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 2px;
    float: left;
    /* end ul*/ }
    #nav .nav-body .nav-ul {
      list-style: none;
      margin: 0;
      padding: 34px 0 12px 0;
      /* end li */ }
      #nav .nav-body .nav-ul li {
        line-height: 50px;
        /* end a */ }
        #nav .nav-body .nav-ul li a {
          text-transform: uppercase;
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 2px; }
          #nav .nav-body .nav-ul li a:before, #nav .nav-body .nav-ul li a.active:before {
            font-family: "FontAwesome";
            display: inline-block;
            width: 38px;
            font-size: 14px; }
          #nav .nav-body .nav-ul li a::before {
            content: "\f096"; }
          #nav .nav-body .nav-ul li a.active {
            color: #f7901e; }
            #nav .nav-body .nav-ul li a.active:before {
              content: "\f105"; }
          #nav .nav-body .nav-ul li a:hover {
            color: #f7901e;
            text-decoration: none; }
    #nav .nav-body hr {
      margin-left: -25px;
      margin-right: -25px;
      margin-top: 22px;
      margin-bottom: 22px; }
    #nav .nav-body .address {
      color: white;
      opacity: 0.36; }
      #nav .nav-body .address h6 {
        color: white;
        font-weight: 400; }
      #nav .nav-body .address .fa-ul li {
        font-weight: 400; }
    #nav .nav-body .last {
      margin-bottom: 0; }
    #nav .nav-body .subscribe {
      margin: 31px 0; }
      #nav .nav-body .subscribe h6 {
        margin-bottom: 12px; }

#content {
  margin-top: -105px;
  position: relative; }

/* forms */
.form-alt .form-control {
  border-radius: 0;
  height: 45px;
  font-size: 12px; }
.form-alt .input-group-addon {
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  padding: 0 15px; }
  .form-alt .input-group-addon .fa {
    font-size: 20px; }

/* form-alt*/
/*app form*/
.app-form .form-control {
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 12px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #1a1e28;
  opacity: 0.8;
  background-color: #f3f4f4;
  box-shadow: none;
  height: 40px; }
  .app-form .form-control::-webkit-input-placeholder {
    color: #1a1e28;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    opacity: 0.55;
    text-transform: uppercase; }
  .app-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #1a1e28;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    opacity: 0.55;
    text-transform: uppercase; }
  .app-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #1a1e28;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    opacity: 0.55;
    text-transform: uppercase; }
  .app-form .form-control:-ms-input-placeholder {
    color: #1a1e28;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    opacity: 0.55;
    text-transform: uppercase; }

/* select 2*/
.select2-container {
  padding: 0;
  margin: 0;
  border: none; }
  .select2-container .select2-choice {
    border: 1px solid #cccccc;
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    background-image: none;
    text-align: left;
    background-color: #f3f4f4; }
    .select2-container .select2-choice .select2-arrow {
      width: 40px;
      background-image: none;
      background-color: #e8e9ea;
      border-radius: 0;
      border-left: 1px solid #cccccc; }
      .select2-container .select2-choice .select2-arrow b {
        background: none !important; }
        .select2-container .select2-choice .select2-arrow b::before, .select2-container .select2-choice .select2-arrow b::after {
          font-family: "FontAwesome";
          display: inline;
          position: absolute;
          margin-left: 16px;
          color: #1a1e28;
          font-size: 16px; }
        .select2-container .select2-choice .select2-arrow b::before {
          content: "\f0d8";
          margin-top: -4px; }
        .select2-container .select2-choice .select2-arrow b::after {
          content: "\f0d7";
          margin-top: 4px; }

/*select2-container*/
.select2-drop-active {
  border: 1px solid #cccccc;
  padding-top: 6px;
  border-radius: 0; }

.select2-results .select2-highlighted {
  background-color: #1a1e28; }

.select2-search {
  /*input{
  	background-image:none;
  	
  	&::after{
  		content:"\f002";
  		font-family:$fa;	
  	}
  }*/ }

.msg-box {
  padding: 20px; }

/* end - app form*/
.carousel {
  overflow: hidden;
  /*carousel-caption*/
  /* Case studies */
  /* description*/ }
  .carousel h5 {
    text-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    top: 135px; }
  .carousel .carousel-indicators {
    bottom: 70px; }
    .carousel .carousel-indicators .active {
      background-color: #f7901e;
      border-color: #f7901e; }
    .carousel .carousel-indicators li {
      border-radius: 3px;
      background-color: transparent;
      border-color: white;
      border-width: 2px;
      width: 14px;
      height: 14px; }
  .carousel .carousel-caption {
    right: 25%;
    left: 25%;
    padding-bottom: 0;
    bottom: 10%; }
    .carousel .carousel-caption h1, .carousel .carousel-caption h4 {
      text-shadow: none; }
    .carousel .carousel-caption h1 {
      /*background-color:rgb($r,$g,$b);*/
      background-color: rgba(255, 255, 255, 0.75);
      background-color: transparent\9;
      padding: 12px 0 10px; }
      .carousel .carousel-caption h1::after {
        content: " ";
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: 28px;
        width: 100%;
        float: left; }
    .carousel .carousel-caption h4 {
      /*background-color:rgb($r,$g,$b);*/
      background-color: rgba(255, 255, 255, 0.75);
      background-color: transparent\9;
      padding: 26px 0 23px;
      margin-top: 36px; }
    .carousel .carousel-caption .btn-app {
      margin-top: 15px; }
  .carousel .slide-btn {
    /*background-color:rgb($r,$g,$b);*/
    background-color: rgba(255, 255, 255, 0.8);
    background-color: transparent\9;
    height: 71px;
    display: block;
    width: 71px;
    position: absolute;
    font-size: 20px;
    line-height: 71px;
    top: 45%;
    border: 1px solid rgba(255, 255, 255, 0.75);
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .carousel .slide-btn .fa {
      font-size: 32px;
      color: #1a1e28;
      text-shadow: none; }
  .carousel:hover a.left .slide-btn {
    left: 0; }
  .carousel:hover a.right .slide-btn {
    right: 0; }
  .carousel a.left .slide-btn {
    left: -71px; }
  .carousel a.right .slide-btn {
    right: -71px; }
  .carousel .left, .carousel .right {
    background-image: none;
    background-color: transparent; }
  .carousel span.title {
    /*background-color:rgb($r,$g,$b);*/
    background-color: rgba(255, 255, 255, 0.75);
    background-color: transparent\9;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: #1a1e28;
    letter-spacing: 10px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    top: 105px;
    left: -30px;
    right: 0;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 13px 0; }
  .carousel .description {
    /*background-color:rgb($r,$g,$b);*/
    background-color: rgba(255, 255, 255, 0.75);
    background-color: transparent\9;
    position: absolute;
    max-width: 846px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none; }
    .carousel .description h1 {
      font-size: 35px;
      font-weight: 800;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      margin-top: 40px; }
    .carousel .description p {
      padding: 20px 34px;
      font-size: 14px;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      color: #1a1e28;
      text-align: justify;
      margin-bottom: 45px; }
    .carousel .description .btn-angle {
      margin-top: 0; }
    .carousel .description .btn-slide {
      margin-left: 5px;
      margin-bottom: 25px; }
  .carousel .btn-white {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    bottom: 0px;
    height: 70px;
    font-weight: 500; }

/*carousel*/
/*banner*/
#banners .carousel-inner > .item > img {
  width: 100%; }

/*secondary*/
.secondary,
.work-colage {
  background-color: white; }

.secondary {
  /*end banner*/ }
  .secondary .banner .carousel-caption {
    /*left:25%;
    right:25%;	*/ }
  .secondary .banner img {
    width: 100%; }
  .secondary .city-time-box {
    width: 10.4%;
    text-align: center;
    color: #1a1e28;
    text-transform: uppercase; }
    .secondary .city-time-box .city-time {
      font-family: "digital-display"; }
      .secondary .city-time-box .city-time .hr, .secondary .city-time-box .city-time .minute {
        font-size: 3.42727vw;
        line-height: 4.85091vw;
        /*font-size:65px;*/ }
      .secondary .city-time-box .city-time::after {
        font-size: 0.63273vw;
        line-height: 0.84364vw;
        content: "dot design";
        font-family: "Raleway", sans-serif;
        /*font-size:12px;*/
        font-weight: 900;
        letter-spacing: 4px;
        display: block;
        margin-top: -16px; }
    .secondary .city-time-box .city {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 4px;
      display: block;
      margin-top: -2px; }
  .secondary #time-stlouis {
    position: absolute;
    top: 24%;
    left: 15.6%; }
  .secondary #time-sydney {
    position: absolute;
    top: 64.7%;
    right: 5.1%; }
  .secondary #time-china {
    position: absolute;
    top: 27.1%;
    right: 28.5%; }
  .secondary .city-time-alt {
    width: 100%;
    float: left;
    top: 138px;
    position: absolute; }
    .secondary .city-time-alt #time-stlouis,
    .secondary .city-time-alt #time-sydney,
    .secondary .city-time-alt #time-china {
      top: 0%; }
    .secondary .city-time-alt #time-stlouis {
      left: 15% !important; }
    .secondary .city-time-alt #time-sydney {
      left: 75% !important; }
    .secondary .city-time-alt #time-china {
      left: 44% !important; }
    .secondary .city-time-alt .city-time-box {
      color: white !important; }
  .secondary .sec-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
    /*h2,h5,p{
    	margin-left:165px;
    	margin-right:165px;	
    }*/ }
    .secondary .sec-content h2 {
      margin-top: 10px;
      margin-bottom: 25px; }
    .secondary .sec-content h6 {
      color: #1a1e28;
      font-weight: 800; }
    .secondary .sec-content p {
      color: #1a1e28;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-align: justify;
      line-height: 24px;
      text-align-last: center;
      -moz-text-align-last: center;
      /* Code for Firefox */
      /*&:after{
      	content:" ";
      	display:inline-block;
      	width:100%;
      	visibility:hidden;	
      }*/ }
  .secondary .carousel-caption {
    top: auto;
    bottom: 5%;
    left: 20%;
    right: 20%; }
    .secondary .carousel-caption h1, .secondary .carousel-caption h4 {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto; }

/*end secondary*/
.work-colage {
  width: 100%;
  float: left;
  padding-bottom: 70px;
  overflow: hidden;
  /* [class*=col] */ }
  .work-colage [class*=col] {
    padding: 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden; }
    .work-colage [class*=col] img {
      width: 100%; }
    .work-colage [class*=col]::after {
      /*background-color:rgb($r,$g,$b);*/
      background-color: rgba(26, 30, 40, 0.25);
      background-color: transparent\9;
      z-index: 100;
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition-duration: 0.5s; }
    .work-colage [class*=col] .caption {
      /*background-color:rgb($r,$g,$b);*/
      background-color: rgba(26, 30, 40, 0.9);
      background-color: transparent\9;
      width: 100%;
      float: left;
      height: 82px;
      bottom: 0;
      position: absolute;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0, 1, 0.6, 1);
      max-height: 0; }
      .work-colage [class*=col] .caption span {
        display: block;
        text-transform: uppercase; }
      .work-colage [class*=col] .caption .name {
        margin-left:7px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 800;
        letter-spacing: 10px; 
        display: inline-block;
        vertical-align: middle;
      }
      .work-colage [class*=col] .caption .info {
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        letter-spacing: 1.2px; }
    .work-colage [class*=col] span {
      /*@include text_shadow(0.8);
      opacity:0;
      color:$color3;	
      position: absolute;
      font-size: 20px;
      z-index: 200;
      top: 50%;
      left: 18px;
      right: 0;
      text-transform: uppercase;
      color: #fff;
      font-weight: 800;
      letter-spacing: 18px;
      margin-right:18px;*/ }
  .work-colage [class*=col]:hover::after {
    /*background-color:rgb($r,$g,$b);*/
    background-color: rgba(26, 30, 40, 0);
    background-color: transparent\9; }
  .work-colage [class*=col]:hover .caption {
    max-height: 82px;
    /*padding-top: 25px; */
    display:table-cell;
    vertical-align: middle;
    line-height: 82px;
  }
  .work-colage [class*=col]:hover .caption .teamspan {
    margin-top:-40px;
  }

.sec-address {
  flex-direction: row;
  display: flex;
  margin-top: 20px; }
  .sec-address .address {
    flex: 1; }
    .sec-address .address:last-child {
      float: right;
      flex: inherit; }

.sec-inner {
  max-width: 815px;
  margin: auto; }

/* footers*/
#footer {
  background: #1a1e28;
  min-height: 350px;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 60px;
  letter-spacing: 1.1px;
  width: 100%;
  float: left;
  position: relative;
  /* social-links*/ }
  #footer #goto-top {
    /*@include overlay(0.75,255,255,255);*/
    z-index: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: white;
    line-height: 40px;
    text-align: center;
    /*margin:-$footer_top_padding auto 0;	*/
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    /*display:none;*/ }
    #footer #goto-top:hover {
      /*@include overlay(0.75,247,144,30);*/
      color: white; }
  #footer h6 {
    margin: 0;
    padding: 0; }
  #footer ul.social-links,
  #footer ul.quick-links {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0; }
  #footer ul.social-links {
    margin-top: 20px;
    margin-bottom: 0; }
    #footer ul.social-links li {
      float: left;
      height: 43px;
      width: 43px;
      line-height: 43px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      margin-right: 83px; }
      #footer ul.social-links li:last-child {
        margin-right: 0; }
      #footer ul.social-links li .fa {
        font-size: 18px;
        display: block;
        line-height: 43px;
        margin-left: 3px; }
      #footer ul.social-links li a {
        line-height: 43px; }
        #footer ul.social-links li a:hover {
          text-decoration: none; }
  #footer ul.quick-links li {
    float: left;
    margin-right: 42px; }
    #footer ul.quick-links li:last-child {
      margin-right: 0; }
    #footer ul.quick-links li a {
      font-size: 12px;
      font-weight: 400; }
  #footer hr {
    width: 620px;
    margin-top: 28px;
    margin-bottom: 30px; }
  #footer .disclaimer {
    font-size: 12px;
    opacity: 0.36;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 26px; }

/* #footer*/
/*
	Responsive 
*/
@media (min-width: 1200px) and (max-width: 1400px) {
  .carousel .carousel-caption h1::after {
    margin-top: 25px; }
  .carousel .carousel-caption h4 {
    font-size: 14px;
    padding: 18px 0 16px;
    margin-top: 30px; }
  .carousel .carousel-caption .btn-app {
    margin-top: 5px; }

  .secondary .city-time-box .city-time::after {
    margin-top: -12px; }
  .secondary .city-time-box .city {
    letter-spacing: 2px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel .carousel-caption {
    left: 20%;
    right: 20%; }
    .carousel .carousel-caption h1::after {
      margin-top: 25px; }
    .carousel .carousel-caption h4 {
      font-size: 14px;
      padding: 18px 0 16px;
      margin-top: 30px; }
    .carousel .carousel-caption .btn-app {
      margin-top: 5px; }
  .carousel .slide-btn {
    height: 51px;
    width: 51px;
    line-height: 58px; }
  .carousel a.left .slide-btn {
    left: -51px; }
  .carousel a.right .slide-btn {
    right: -51px; }

  /* carousel*/
  .secondary .carousel img {
    /*min-width:1200px;*/ }
  .secondary .city-time-box .city-time::after {
    display: none; }
  .secondary .city-time-box .city {
    letter-spacing: 0;
    margin-top: -12px; }

  /*secondary*/ }
@media (max-width: 992px) {
  h2 {
    font-size: 20px;
    line-height: 26px; }

  h4 {
    font-size: 14px;
    line-height: 20px; }

  .content-offset-top {
    /*margin-top:0 !important;	*/ }

  .carousel .carousel-caption {
    bottom: 10  px;
    left: 10%;
    right: 10%; }
    .carousel .carousel-caption h1::after {
      margin-top: 25px; }
    .carousel .carousel-caption h4 {
      font-size: 14px;
      padding: 18px 0 16px;
      margin-top: 30px; }
    .carousel .carousel-caption .btn-app {
      margin-top: 10px; }
  .carousel .slide-btn {
    height: 51px;
    width: 51px;
    line-height: 58px; }
  .carousel a.left .slide-btn {
    left: -51px; }
  .carousel a.right .slide-btn {
    right: -51px; }

  /* carousel*/
  .secondary .city-time-box .city-time::after {
    display: none; }
  .secondary .city-time-box .city {
    letter-spacing: 0;
    margin-top: -8px; }
  .secondary #time-stlouis {
    top: 24%;
    left: 15.6%; }
  .secondary #time-sydney {
    top: 64.7%;
    right: 5.1%; }
  .secondary #time-china {
    top: 27.1%;
    right: 28.5%; }
  .secondary .carousel img {
    /*min-width:1199px;*/ }

  .sec-address {
    display: block; }
    .sec-address .address {
      float: left;
      width: 50%; }

  .featured-work-carousel .carousel-indicators {
    bottom: 0; } }
/* nav mob width*/
@media (max-width: 768px) {
  #header {
    height: 75px;
    line-height: 75px; }

  img.logo {
    width: 130px;
    /*float: right;
    margin-top: 20px;*/
    margin-left: 0; }

  .nav-toggle {
    line-height: 75px; }

  .nav-modal {
    top: 75px; }

  #nav {
    width: 320px; }

  .nav-modal .modal-dialog {
    width: 320px; }

  h5 {
    letter-spacing: 20px;
    line-height: 18px; }

  .carousel .carousel-caption h1 {
    padding-bottom: 10px;
    font-size: 23px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px; }
    .carousel .carousel-caption h1::after {
      margin-top: 20px; }
  .carousel .carousel-caption h4 {
    padding: 10px 10px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600; }
  .carousel .slide-btn {
    display: none; }
  .carousel .carousel-inner .item {
    overflow: hidden; }
  .carousel img {
    min-width: 992px !important;
    position: relative;
    margin-left: -20%; }

  /*carousel*/
  .secondary {
    /*address*/ }
    .secondary .address {
      width: 100%;
      margin-bottom: 15px; }
      .secondary .address h6,
      .secondary .address p {
        text-align: center !important; }
      .secondary .address h6 {
        margin-bottom: 5px; }
      .secondary .address p {
        line-height: 18px;
        margin-bottom: 5px; }
      .secondary .address .fa-ul {
        padding-top: 0; }
        .secondary .address .fa-ul li {
          text-align: center;
          margin-left: 25px; }
          .secondary .address .fa-ul li .fa {
            left: auto;
            /*width:40px;*/
            margin-left: -25px; }
    .secondary .city-time-box {
      display: none; }
    .secondary #time-stlouis {
      top: 26%;
      left: 4.8%; }
    .secondary #time-china {
      top: 29.1%;
      right: 18.5%; }
    .secondary #time-sydney {
      display: none; }

  /* secondary */
  .featured-work-carousel .carousel-inner .item img {
    min-width: 100% !important;
    position: relative;
    margin-left: 0;
    margin-top: 105px; }

  .work-colage [class*=col] .caption {
    max-height: 82px;
    padding-top: 25px; }

  /*work-colage*/
  #footer hr {
    width: 100%; }
  #footer ul.social-links li {
    margin-right: 40px; }
  #footer ul.quick-links {
    display: none; } }
@media (max-width: 448px) {
  h1 {
    font-size: 15px;
    line-height: 18px; }

  .carousel {
    /*.slide-btn{
    	height: 38px;
    	width: 38px;
    	line-height: 46px;	
    	top:55%;
    }
    
    a.left .slide-btn{
    	left:-38px;	
    }
    a.right .slide-btn{
    	right:-38px;	 
    }*/ }
    .carousel .carousel-caption {
      left: 5%;
      right: 5%; }
    .carousel .carousel-inner .item img {
      min-width: 768px !important;
      position: relative;
      margin-left: -30%; }

  .secondary .sec-content {
    padding-top: 15px; }
  .secondary .carousel .item img {
    min-width: 768px !important;
    position: relative;
    margin-left: -50%; }

  .featured-work-carousel .carousel-inner .item img {
    min-width: 100% !important;
    position: relative;
    margin-left: 0;
    margin-top: 105px; } }
/*max-width : 448px*/
/*helpers*/
.header-fixed {
  position: fixed !important;
  top: 0;
  width: 100%; }

.fw {
  width: 100%; }

.clear {
  clear: both; }

.pull {
  float: right !important; }

.push {
  float: left !important; }

.pull-text {
  text-align: right; }

.center {
  text-align: center; }

.remove-rt-gutter {
  padding-right: 0 !important; }

.remove-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.text-danger {
  color: #a94442 !important; }

.text-success {
  color: #3c763d !important; }
